<!DOCTYPE html>
<html>
    <head>
        <title>            
            {% block title %}          
            {% endblock title %}
        </title>
    </head>
    <body>
        <div style="margin-bottom: 15px; padding:10px; border: solid; border-color: grey; border-width: 0 1 3 6;">
            <a href="{% url 'viewer:home' %}">home</a>
            <a href="{% url 'viewer:image_list' %}">images</a>
            <a href="{% url 'viewer:image_upload' %}">upload image</a>
            <a href="{% url 'viewer:category_add' %}">Add Category<a>
        </div>
       {% block content %}
         
       {% endblock content %}

    </body>
</html>