{% extends "home/_base.html" %}

{% load static %}

{% block title %}   
Image list
{% endblock title %}


{% block content %}
{% if filter %}
<div>
    <p >
        Images of category: <span style="color:red"><b>{{ filter }}</b></span> <a href="{% url 'viewer:image_list' %}">X</a>
    </p>
</div>
{% endif %}

{% if sort_field %}
<div>
    <p >
        Sorted on: <span style="color:green"><b>{{ sort_field }}</b></span> <a href="{% url 'viewer:image_list' %}">X</a>
    </p>
</div>
{% endif %}

<div>
    <form action="">
        <label for="search">Search</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Search">
    </form>
    {% if query %}
    Search query: <span style="color:green"><b>{{ query }}</b></span> <a href="{% url 'viewer:image_list' %}">X</a>
    {% endif %}
    <br>
    <br>
    <br>
</div>

<table>
    <thead>
        <th>
            <td>#</td>
            <td>
                <a href="{% url 'viewer:image_list_sort' sort_field='name' %}">Name</a>
            </td>
            <td>Image</td>
            <td>
                <a href="{% url 'viewer:image_list_sort' sort_field='category' %}">Category</a>
            </td>
            <td>decription</td>
            <td>
                <a href="{% url 'viewer:image_list_sort' sort_field='upload' %}">Uploaded at</a>
                
            </td>
            <td></td>
            <td></td>
        </th>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ image.name }}</td>
            <td>
                <a href="{% url 'viewer:image_details' image.id %}">
                    <img src="{{ image.image_file.url }}" alt="" width="50px" height="auto">
                </a>
            </td>
            <td>
                <a href="{% url 'viewer:image_list_category' category_name=image.category.name %}">{{ image.category }}</a>
                
            </td>
            <td>{{ image.description }}</td>
            <td>{{ image.upload | date }}</td>
            <td>
                <a href="{% url 'viewer:image_edit' image.id %}">
                    <img src="{% static 'viewer/edit-icon.png' %}" alt="" width="32px" height="auto">
                </a>
            </td>
            <td>
                <a href="{% url 'viewer:image_remove' image.id %}">
                    <b>X</b>
                </a>
            </td>

        </tr>          
        {% endfor %}
    </tbody>
</table>
{% endblock content %}